<!DOCTYPE html>
<html>

<head>
    <title>Helpful-Human</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <!-- Nav bar -->
    <nav id="nav" class="navbar navbar-expand-md sticky-top">
        <a class="navbar-brand" href="/">
            <img id="icon" src="/images/logo-symbol.svg" alt="helpful-human-icon">
        </a>

         <button class="navbar-dark navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
         </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto ">
                       <li class="nav-item d-block d-md-none d-lg-none d-xl-none" > 
                            <!-- <a class="nav-link" href="/random">
                                Random Color
                            </a> -->
                            <button type="button" class="btn btn-outline-light btn-md btn-block" onclick="location.href='/random'">Random Color</button>
                        </li>
                        <li class="nav-item d-block d-md-none d-lg-none d-xl-none">
                            <a class="nav-link" href="/?group=Red">
                                Red
                            </a>
                        </li>
                        <li class="nav-item d-block d-md-none d-lg-none d-xl-none">
                            <a class="nav-link" href="/?group=Orange">
                                Orange
                            </a>
                        </li>
                       <li class="nav-item d-block d-md-none d-lg-none d-xl-none">
                            <a class="nav-link" href="/?group=Yellow">
                                Yellow
                            </a>
                        </li>
                       <li class="nav-item d-block d-md-none d-lg-none d-xl-none">
                            <a class="nav-link" href="/?group=Green">
                                Green
                            </a>
                        </li>
                       <li class="nav-item d-block d-md-none d-lg-none d-xl-none">
                            <a class="nav-link" href="/?group=Blue">
                                Blue
                            </a>
                        </li>
                        <li class="nav-item d-block d-md-none d-lg-none d-xl-none">
                            <a class="nav-link" href="/?group=Purple">
                                Purple
                            </a>
                        </li>
                       <li class="nav-item d-block d-md-none d-lg-none d-xl-none">
                            <a class="nav-link" href="/?group=Brown">
                                Brown
                            </a>
                        </li>
                        <li class="nav-item d-block d-md-none d-lg-none d-xl-none">
                            <a class="nav-link" href="/?group=Gray">
                                Gray
                            </a>
                        </li>
                      </ul>
                      <form class="form-block" action="/" method="GET">
                        <input class="form-control" type="text" placeholder="Search" id="search" name="search" value="<%=query.search%>">
                    </form> 
        
                </div>
    
 
           

    </nav>

    <!-- Side Bar -->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-dark btn-block" onclick="location.href='/random'">Random Color</button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/?group=Red">
                                Red
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/?group=Orange">
                                Orange
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/?group=Yellow">
                                Yellow
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/?group=Green">
                                Green
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/?group=Blue">
                                Blue
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/?group=Purple">
                                Purple
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/?group=Brown">
                                Brown
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/?group=Gray">
                                Gray
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

 
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">